.partsViewRadarChartsGroup {
  height: 590px;
  width: 85%;
  margin: auto ;
  /* position: absolute;
  top: 10px;
  left: 10px; */
  /* border: 1px solid red; */

  /* display: flex; */
  /* Center horizontally */
  /* justify-content: center;  */
  /* Center vertically */
  /* align-items: center;  */
  /* Wrap items if necessary */
  /* flex-wrap: wrap;  */
}

.partsViewRadarChartsGroupEach {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  float: left;
  width: 48.5%;
  aspect-ratio: 1 / 1;
  border: 0.5px solid lightgrey;
  position: relative;
  margin: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px solid red;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.partsSubSubName {
  background-color: white;
  border: 0.5px solid darkgray;
  width: 48%;
  float: left;
  height: 36px;
  margin: 40px 2px 5px 2px;
  text-align: center; 
  font-size: 24px;
  font-weight: normal;
  position: relative;
  left: 0.5%;
  border-radius: 18px;
}