.dayTenOutline {
  /* border: 2px solid red; */
  /* height: 1120px; */
  display: flex;              /* Align children in a row */
  overflow-x: auto;           /* Enable horizontal scrolling */
  white-space: nowrap;        /* Ensure the children don't wrap to the next line */
  /* padding: 5px;    */
  /* margin: auto; */
  /* margin-right: 10px; */
}

.DayTenViewIndividual {
  /* border: 1px solid darkgray; */
  /* height: 1120px; */
  width: 200px;
  margin: 10px;
}

.DayTenGraph {
  border: 1px solid darkgray;
  width: 200px;
  height: 550px;
}