.dimensionContent {
    position: absolute;
    top: 55px;
    height: 85%;
    width: 100%;
    /* margin-top: 10px; */
    /* border: 2px solid red; */
  }

.checkboxWithDimName {
    position: relative;
    width: 95%;
    height: 20%;
    margin: 12px auto 12px auto;
    /* border: 2px solid red; */
}

.dimName {
    position: absolute;
    height: 100%;
    width: 30%;
    font-size: 20px;
    text-align: left;
    /* border: 2px solid red; */
}

.checkboxWithLabel {
    position: absolute;
    top: 10%;
    left: 35%;
    height: 80%;
    border: 2px solid darkgray;
    width: 65%;
    /* border: 2px solid red; */
}

.checkboxEachBoxLabel {
    position: relative;
    width: 1%;
    height: 100%;
    /* border: 2px solid red; */

}

.checkboxEachBox {
    display: grid; 
    place-items: center; 
    /* border: 2px solid red; */
}

.checkboxEachLabel {
    text-align: center; 
}

.buttons {
    position: relative;
    width: 95%;
    margin: 0px 2.5% 8px 2.5%;
    height: 30px;
    border-radius: 10px;
    border-color: darkgrey;
    /* border: 2px solid red; */
}