.dimensionColorTableOutline {
  position: relative;
  margin: 8px auto;
  height : 360px;
  border: 2px solid darkgray;
}

.dimensionColorTable {
    position: relative;
    margin: 2% auto;
    width: 94%;
    height: 96%;
    border-collapse: collapse;
    /* margin: auto; */
    /* border: 2px solid red; */
  }

.dimensionTableHeadName {
  margin: 3px 2px 3px 2px;
  text-align: center; 
  font-size: 18px;
}

.lineSpace  {
  height:3px;
}
.dimensionColorCubeName {
  text-align: left; 
  font-size: 18px;
}

.dimensionColorCubeBox {
  position: relative;
  /* border: 2px solid red; */
}

.dimensionColorCube {
  position: relative;
  left: 36%;
  height: 18px;
  width: 18px;
}
  
  /* .dimensionColorTable th,
  .dimensionColorTable td {
    padding: 8px;
    border: 1px solid #ddd;
    min-width: 50px;
    position: relative;
  } */
  
  /* .dimensionColorTable th {
    background-color: #333;
    color: white;
  } */

  /* .dimensionColorTable td::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    opacity: inherit;
    z-index: -1;
  } */
  