.segmentTimeDiffChartsGroup {
    /* height: 93%; */
    width: 99%;
    /* margin: auto; */
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
  }

.segmentTimeDiffChartsGroupEach {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    /* float: left; */
    left: 0.5%;
    width: 97%;
    aspect-ratio: 1 / 1;
    border: 0.5px solid lightgrey;
    /* border: 1px solid red; */
    position: relative;
  }