.segmentTrtDiffChartsTitleGroup {
    height: 98%;
    width: 91%;
    /* margin: 3px auto 3px auto; */
    position: relative;
    top: 1.5%;
    left: 0.4%;
    /* border: 2px solid red; */
    overflow: auto;
  }

.segmentTrtDiffTitle {
    position: absolute;
    left: 0.5%;
    top: 0px;
    width: 18.2%;
    /* position: relative;
    width: 10%; */
    /* border: 2px solid red; */
    }

.segmentTrtDiffTitleEach {
    width: 100%;
    aspect-ratio: 1 / 1.2;
    border: 1px solid white;
    }

  .segmentTrtDiffChartsGroup {
    height: 98%;
    width: 64.9%;
    /* margin: 3px auto 3px auto; */
    position: relative;
    left: 21%;
    /* border: 2px solid red; */
  }

.segmentTrtDiffChartsGroupEach {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    float: left;
    width: 32.5%;
    aspect-ratio: 1 / 1;
    border: 0.5px solid lightgrey;
    /* border: 1px solid red; */
    position: relative;
  }


  


.segmentTrtDiffTitleFont {
  width: 90%;
  position: relative;
  top:40%;
  left: 5%;
  text-align: center;
  font-size: 20px;
  background-color: lightgrey;
  border: 1px solid black;
  }