.segmentView {
  position: relative;
  border: 2px solid darkgray;
  /* border: 1px solid red; */
  /* float: left; */
  height: 1218px;
  width: 100%;
  }


.segmentTitle{
  background-color: lightgrey;
  height: 45px;
  margin: 3px 2px 3px 2px;
  text-align: center; 
  font-size: 28px;
  font-weight: normal;
}

.segmentIndividualTimeDiff {
  position: relative;
  border: 1px solid darkgray;
  /* border: 1px solid red; */
  width: 98%;
  margin: 3px auto 3px auto;
  height: 590px;
  overflow: auto;
}

.segmentIndividualLabel {
  position: absolute;
  left: 1%;
  /* border: 2px solid darkgray; */
  /* border: 2px solid red; */
  width: 17%;
  margin: 3px auto 3px auto;
  margin: auto;
}

.segmentIndividualLabelBlankName {
  background-color: white;
  /* background-color: yellow; */
  height: 36px;
  margin: 3px 2px 3px 2px;
  text-align: center; 
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.segmentIndividual {
  position: absolute;
  left: 18.8%;
  /* border: 1px solid darkgray; */
  /* border: 2px solid red; */
  width: 60%;
  margin: 3px auto 3px auto;
  margin: auto;
  /* height: 98%; */
  /* border: 2px solid red; */
}

.segmentIndividualName {
  background-color: lightgrey;
  /* background-color: yellow; */
  height: 36px;
  margin: 3px 2px 3px 2px;
  text-align: center; 
  font-size: 24px;
  font-weight: normal;
}

.segmentTimeDiff {
  position: absolute;
  /* left: 68%; */
  right: 0.5%;
  /* border: 1px solid darkgray; */
  /* border: 1px solid red; */
  width: 20%;
  margin: 3px auto 3px auto;
  margin: auto;
  
  /* height: 98%; */
}

.segmentTrtDiff {
  position: relative;
  border: 1px solid darkgray;
  width: 98%;
  margin: 3px auto 3px auto;
  height: 281px;
}

.segmentGenoDiff {
  position: relative;
  border: 1px solid darkgray;
  width: 98%;
  margin: 3px auto 3px auto;
  height: 281px;
}



.segmentTimeDiffName, .segmentTrtDiffName, .segmentGenoDiffName {
  background-color: lightgrey;
  height: 36px;
  margin: 3px 2px 3px 2px;
  text-align: center; 
  font-size: 24px;
  font-weight: normal;
}


.segmentTrtDiffName, .segmentGenoDiffName {
  position: absolute;
  right: 36px;
  bottom: 0px;
  transform: rotate(90deg);
  transform-origin: bottom right;
  width: 275.5px;
}
  
  /* .segmentView::-webkit-scrollbar, .branchView::-webkit-scrollbar {
    width: 5px;
  } */
  
  /* .segmentView::-webkit-scrollbar-thumb, .branchView::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
  } */


  /* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);    
    gap: 10px;                           
    width: 300px;                        
    height: 300px;                       
  }
  
  .grid-item {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
  } */